html {
    height: 100%;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #d6dbeb;
}

* {
    box-sizing: border-box;
    user-select: none;
}

a {
    text-decoration: none;
    color: rgb(142, 161, 177);
}

a:hover {
    text-underline-offset: 3px;
    text-decoration: underline;
    text-decoration-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    color: white;
    background-color: #01a3d4;
    padding: 16px;
}

.company-name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.company-name h1 {
    margin: 0;
}

.badge {
    padding: 8px;
    height: 48px;
    border-radius: 4px;
    color: #01a3d4;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.badge div {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
}

.content {
    display: flex;
    flex-direction: column;
}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    font-size: 48px;
}

.slogan div {
    background-color: #01a3d4;
    color: white;
    padding: 6px;
}

.content-main {
    display: flex;
    flex-direction: column;
    background-image: url(./img/hospital.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 16px;
}

.search-box {
    margin-top: 32px;
}

.search-box button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(138, 210, 35);
    border: unset;
    border-radius: 4px;
    height: 47px;
    cursor: pointer;
}

.search-box input {
    border: unset;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-bottom: 32px;
}

.form div {
    width: 100%;
    position: relative;
}

input[type=text] {
    width: 100%;
    height: 48px;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

input:focus {
    outline: none !important;
    border-color: rgb(1, 163, 212);
}

#datalist-field, #datalist-location {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 18px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 2px 0px rgb(0 0 0 / 60%);
}

#datalist-field div {
    padding: 6px;
}

.category {
    background-color: lightgrey;
    user-select: none;
    border-bottom: 1px solid gray;
    font-weight: 600;
}

.data-elements {
    border-bottom: 1px solid gray;
    user-select: none;
    cursor: pointer;
}

.data-elements-none {
    border-bottom: 1px solid gray;
    opacity: 0.6;
    user-select: none;
}

.data-elements:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

#datalist-location div {
    padding: 6px;
}

.infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    color: rgb(91, 113, 133);
    margin-top: 32px;
}

.infos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: white;
    padding: 6px;
    flex: 1;
    min-height: 250px;
    box-shadow: 0 1px 2px 0px rgb(0 0 0 / 60%);
}

.infos span {
    font-size: 36px;
    font-weight: 800;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.expand-panel {
    text-align: center;
    cursor: pointer;
}

#resultwrapper {
    margin: 16px 0;
    background-color: white;
    border-radius: 8px;
    padding: 6px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    box-shadow: 0 1px 2px 0px rgb(0 0 0 / 60%);
    transition: height 0.2ms ease-in-out;
}

#resultwrapper.show {
    height: auto;
    opacity: 1;
}

#results {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 12px;
}

.result-header {
    display: flex;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px;
}

.result-header div {
    align-self: flex-start;
    padding: 12px;
}

.result-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    box-shadow: 0 0 2px 0px rgb(0 0 0 / 60%);
    transition: all 125ms ease-in-out;
}

.result-item:hover {
    box-shadow: 0 0 4px 0px rgb(0 0 0 / 60%);
}

.result-item .material-symbols-outlined {
    color: rgb(1, 163, 212);
}

.result-item img {
    height: 125px;
    width: 125px;
    object-fit: cover;
    box-shadow: 0 0 2px 0px rgb(0 0 0 / 60%);
}

.result-item h2, h3, h4 {
    margin-top: 0;
}

.result-item h2, h4 {
    margin-bottom: 0;
}

.result-item h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

table {
    border-collapse: collapse;
    width: 60%;
}

table tr {
    background-color: rgb(250, 250, 250);
}

table tr:hover {
    background-color: #ddd;
}

table td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.location {
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px;
}

.location {
    display: flex;
    flex-direction: column;
}

.close-btn {
    text-align: center;
    color: rgb(91, 113, 133);
}

.close-btn span {
    font-size: 32px;
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: rgb(142, 161, 177);
    background-color: rgb(240, 242, 245);
}

.links, .legal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

@media (max-width: 768px) {

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px;
    }

    .search-box button {
        width: 100%;
    }

    .slogan {
        font-size: 24px;
    }

    .infos {
        display: flex;
        flex-direction: column;
    }

    .infos div {
        width: 100%;
    }

    .badge {
        display: none;
    }

    .result-item h2 {
        font-size: 16px;
    }

    .result-item h3 {
        font-size: 14px;
    }

    .result-item h4 {
        font-size: 12px;
    }

    .result-item img {
        height: 75px;
        width: 75px;
    }

    .result-header {
        flex-direction: column;
    }

    .result-header img {
        align-self: flex-start;
    }

    .result-header div {
        padding: 0;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }
}